*{
  font-family: 'Exo 2', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing:border-box;
  text-decoration: none;
}
ul{
  list-style: none;
}
.navbar-logo img{
  z-index:100;
  
}
.navbar-call-to-us{
  text-align: center;
  display: grid;
  justify-items: center;
}
button, a {
  transition: .4s;
  cursor: pointer;
}
.navbar-logo{
  transform: translate(0, 25px);
}
.header-pc-version{
  z-index:1;
  display: grid;
  justify-items: center;
  position: relative;
  width: 100%;
  padding: 0 45px;

  position: absolute;
  background-color: white;
}
.navbar-meta-data{
  display:grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  height: 200px;
  padding: 4px 5px 10px 36px;

  width: 100%;
}
.navbar-meta-data-exact{
  justify-self: end;
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 1fr auto;
}
.navbar-meta-data-language ul{
  display: flex;
}
.navigation{
  z-index: 30;
 display: grid;
 justify-items: center;
  position:absolute;
  width: 100%;
  padding: 0 50px;
  bottom: 0;
  transform: translate(0, 50%);
}
.navigation-shell{

  grid-template-columns: 106px 1fr auto;
  max-width: 1280px;
  width: 100%;
  border-radius: 10px;

  background-color: #333333;
  padding: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.navigation-links{
  display: flex;
  flex-wrap: wrap;
}
.navigation-social{
  display: flex;
  flex-wrap: wrap;

  
}
.navigation-links li a {
  color: white;
  padding: 0 18.5px 0 18.5px;
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
}
.navigation-links li a:hover {
  color: #ffcc00;
}
.navigation-links li a::after {
  content: "";
  width: 3px;
  height: 22px;
  transform: translate(18px,2.5px);
      background: white;
  position:absolute

}
.navigation-links li:last-child a::after {
  content: none;
}
.navigation-social li a {
  font-size: 21px;
  color: #ffcc00;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.navigation-social li a svg{
  font-size: 25px;

  border-radius: 6px;
  fill: #ffcc00;
  height: 25px;

}
.navbar-meta-data-phone-exact{
  display: grid;
  font-size: 20px;
  justify-self: center;
  justify-items: center;
  grid-template-columns: 1fr;
}
.navbar-meta-data-phone-exact a{
  font-weight: 800;
  color: black;
}
.navbar-meta-data-phone-exact a:hover{
  text-decoration: underline;
}

.navbar-meta-data-phone-exact-exact{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 11px;
}
.navbar-meta-data-phone-exact-exact i{
  font-size: 40px;
  color: #ffcc00;

}
.navbar-meta-data-language ul{
  transform: translate(0, -10px);

}
.navbar-meta-data-language ul li a{
  color: black;
  font-size: 20px;
  padding: 0 8px;
}
.navbar-meta-data-language ul li a:hover{
  color: #ffcc00;
}
.navbar-meta-data-language ul li.active a{
  color:#ffcc00;
}
.navbar-meta-data-language ul li a::after{
  content: "";
  width: 2px;
  position: absolute;
  transform: translate(7px,2.5px);
  height: 20px;
  background: black;
}
.navbar-meta-data-language ul li:last-child a::after{
  content: none;
}
.navbar-meta-data-exact > div{
  transform: translate(0, -5px);
}
.navigation-image img{
  position: absolute;
  transform: translate(-50%,-165px);

}

.header-pc-version.responsive .navbar-meta-data{
  display: none;

}
.header-pc-version.responsive .navigation{
  transform: translate(0, 100%);
  max-width: 100%;
  padding: 0;
}
.header-pc-version.responsive .navigation .navigation-shell{
  border-radius: 0;
  max-width:100%;
}
.header-pc-version.responsive .navigation .navigation-shell .navigation-image img{
  position: absolute;
  transform: translate(0,-39px);
  width: 70px;

}

@media (max-width: 1400px) {
  .navigation-social li a {
  font-size: 33px;
  padding-left: 15px;
}
.navigation-shell {
  
  padding: 30px 74px 30px 30px;
}
.navbar-meta-data{
      padding-right: 65px;
  }
  .navbar-meta-data-exact{

  column-gap: 25px;
  
}
.navigation-links{
  padding-right: 20px;
}
.navigation-links li a{
  font-size: 21px;
}
.navigation-social li a svg{

  height: 25px;

}
}
@media (max-width: 1280px) {
  
.navigation-links{
  padding-right: 0px;
}

}
@media (max-width: 1300px) {
  
  .navigation{
      padding: 0;
  }
  .navigation-shell{
      border-radius: 0;
  }
  .navigation-shell {
  
  padding: 30px 75px ;
}
  }


.navigation-links-shell{
  display: grid;
  justify-items: center;
  width: 100%;
}

@media (max-width: 1250px) {
  
  .navigation-social{
    display: none;
  }
  .navigation-links-shell{
    justify-items: end;
  }
  .navbar-meta-data {
    padding-right: 35px;
}
  }

  @media (max-width: 1100px) {
  
    #header-pc{
      display: none;
    }
    }
  
  

  .start-section{
    max-height:900px;
height: 100vh;
width: 100%;
display: grid;
padding: 0 45px;
align-items: end;
justify-items: center;
background-image: url(images/bg.png);
background-color: #ccc;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
color: #fff;
text-align: center;
}
.start-content{
    display: grid;
    justify-items: start;
    max-width: 1200px;
    width: 100%;
    padding-bottom: 80px;
}
.start-content-text{
    padding-bottom: 50px ;
    max-width: 500px;
    text-align: left;
    display: grid;
    font-size: 24px;
}
.start-content-title{
    padding-bottom: 65px; 
    font-size: 43px;
    position: relative;
    color:#ffcc00;
    font-weight: 800;
    text-transform: uppercase;
}
.start-content-title::after{
  content: "";
  background-color: #ffcc00;
  width: 65px;
  height: 4px;
  position: absolute;
  transform: translate(5px, 83px);
  left: 0;
}
.start-content-btns{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}
.start-content-btns a{
    width: 310px;
    text-transform: uppercase;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: center;
}
.start-content-btn-about{
    color: white;
    border: 2px solid white;
}

.start-content-btn-phone{
    background: #ffcc00;
    color: #333333;
    border: 2px solid #ffcc00;
}
.start-content-btn-phone span{
    padding-left: 50px;
}
.start-content-btn-phone i{
    font-size: 30px;
    position:absolute;
    transform: translate(-50px, -1px);
}
.start-content-btn-about:hover{
    background: white;
    color: #333333;
    border: 2px solid white;
}
.start-content-btn-phone:hover{
    background: #333333;
    color: #ffcc00;
    border: 2px solid #333333;;
}
.reasons_for_work_text_button{
    text-transform: uppercase;
    
      border: 2px solid #ffcc00;
      font-size: 22px;
      background-color:#ffcc00;
      width: 310px;
      height: 60px;
      color:white;
      display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: center;
  }
  .reasons_for_work_text_button:hover{

      border: 2px solid #333333;
      background-color:#333333;
      color:#ffcc00;

  }

  @media (max-width: 1100px) {
    #start-section-pc{
      display: none;
    }
}

  .form-social-control-container-or{
      text-align:center;
      padding: 25px 0 15px;
      font-weight: 800;
      letter-spacing: 2px;
  }





  .get-catalog{
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 0;
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    width: 270px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-self: start;
    align-self: end;
}
.get-catalog:hover{
    background-color: #333333;
    border-color: #333333;
    color: #ffcc00;
}
.vigoda-shell{
    display: grid;
    max-width: 1280px;
    width: 100%;
}
.vigoda-control-exact button{
  background-color: transparent;
  border: none;
  width: 310px;
  transition:0s ;
  padding: 0 25px;
  display: grid;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  font-weight: 800;
  grid-template-columns: auto 1fr;
  justify-items: center;
}
.vigoda-control-exact button:hover{
  color: #ffcc00;
}

.vigoda-control-exact button.active:hover{
  color: #333333;
}
.vigoda-control-exact button.active i {
  opacity: 1;

}
.vigoda-control-exact button.active{
    padding: 20px 25px;
      border: 2px solid #ffcc00;
}
.vigoda-control-exact button i{
    opacity: 0;
}
.vigoda-control{
    display: grid;
    grid-template-rows: auto 1fr;
}
.vigoda-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 60px;
}
.vigoda-control-exact{
    display: grid;
  row-gap: 20px;
}
.vigoda{
    padding: 105px 45px 170px;
    display: grid;
    justify-items: center;
}
.vigoda-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.video-container{
    display: grid;
}
.video-container iframe{
    width: 100%;
    height: 370px;
}
.cars-posts{
    display: grid;
    background-color: #ffcc00;
    padding: 65px 45px;
    justify-items: center;
}
.cars-posts-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.cars-posts-shell{
    max-width: 1280px;
    width: 100%;
}
.cars-posts-shell img{
    width: 100%;
}
.form-social-control-container{
    display:grid;
    justify-items: center;
}
.form-social-control-container-shell{
    display: grid;
    width: 100%;
    max-width: 510px;
    padding: 0 15px 0 15px;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
}
.form-social-control-container-shell button{
  height: 55px;
}
.reasons_for_work_form-social-btn{
    display: grid;
    align-items: center;
    padding-top: 45px;
    justify-items: center;
}
.reasons_for_work_form-social-btn button{
    background: #ffcc00;
    border: 2px solid #ffcc00;
    text-transform: uppercase;
  font-weight: 800;
  color: white;
    width: 310px;
    font-size: 18px;
    height: 60px;
}

.reasons_for_work_form-social-btn button:hover{
    background: #333333;
    border: 2px solid  #333333;
      color: #ffcc00;

}
.reasons_for_work_form-control{
    display: grid;
    row-gap: 30px;
}
.reasons_for_work_form-control input::placeholder{
  color:#333333;

}
.reasons_for_work_form-control input{
    background: white;
    border: none;
    border-radius: 0;
  padding: 17.5px;
  font-size:20px;
}
.reasons_for_work_form{
    background:#ebebeb;
    text-transform: uppercase;
    margin-left: 80px;
    padding: 45px 25px 30px 25px;
}
.reasons_for_work_form-title{
    font-size: 22px;
    text-align:center;
    padding: 0 45px 35px 45px;

}
.reasons_for_work_text-div{
    display: grid;
    justify-items: left;
}
.reasons_for_work{
  display: grid;
  color:#333333;
  justify-items: center;
  padding: 130px 45px 105px;
}
.reasons_for_work_title{
    max-width: 1280px;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.85px;
    padding-bottom: 70px;
}
.reasons_for_work_container{
  max-width: 1280px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.reasons_for_work_text-exact{
    min-height: 633px;
    font-size: 20px;
    text-align: justify;
    padding-right:70px; 
}


.reasons_for_work_text-exact span{
  font-weight: bold;
}


@media (max-width: 1100px) {
  
  .reasons_for_work_container{

      grid-template-columns:  1fr;
      row-gap: 30px;
  }
  .reasons_for_work{

    padding: 30px 40px;
  }
.reasons_for_work_title{
  font-weight: bold;
font-size: 16px;
text-align: center;
padding-bottom: 10px;
}
.reasons_for_work_text-exact {
  min-height: 0;
  padding: 0;
  font-size: 12px;
}
.reasons_for_work_form {
  margin: 0;
}

}



.evryday-photo img{
    height:605px ;
    max-width: 100%;
    }
.evryday-photo {
  display: grid;
  justify-items: end;
}
.call-to-us{
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #ffcc00;
  padding: 35px 45px;
}
.call-to-us-shell{
  max-width: 1280px;
  width: 100%;
  display: grid;
  text-transform: uppercase;

  font-weight: 800;
  grid-template-columns: 1fr 1fr;
}
.call-to-us-btn-cont{
  display: grid;
  justify-items: end;
  align-items: center;
}
.call-to-us-btn-cont a{
  width: 350px;
  background-color: #2d343a;
  border:2px solid #2d343a;
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: auto ;
  justify-items: center;
  font-size: 20px;
  color: #ffcc00;

}
.call-to-us-btn-cont a:hover{
  background-color: #ffcc00;
  border:2px solid #333333;
  color: #333333;

}
.call-to-us-btn-cont a div{
  display: flex;
  align-items: center;
}
.call-to-us-btn-cont a i{
  font-size: 28px;
  transform: translate(-30px, 2px);
}
.call-to-us-text-title{
  font-size: 30px;
}
.call-to-us-text-second{
  font-size: 22px;
}
.news-blog{
  display: grid;
  justify-items: center;
  font-weight: 800;
  
  padding: 110px 45px 90px;
  text-transform: uppercase;
  
}
.news-blog-title{
  font-size: 30px;
  padding-bottom: 110px;
  color: #2e343b;
}
.news-blog-map{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 160px;
  font-size: 22px;
  row-gap: 95px;
}
.news-blog-map a{
  color: #333333;
}
.news-blog-map a:hover{
  text-decoration: underline;
}
.news-blog-shell{
  max-width: 1280px;
}

.imdge-block{
  background-color: #ffcc00;
  display: grid;
  justify-items: center;
  padding: 70px 45px 70px;
}
.imdge-block-shell{
  display: grid;
  justify-items: center;
  width: 100%;
  max-width: 1280px;
}
.imdge-block-map{
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  padding: 0 70px;
  column-gap: 40px;
  align-items: center;
  justify-items: center;
}
.imdge-block-map img{
  max-width: 100%;
}
.imdge-block-title{
  padding-bottom: 60px;
  text-transform: uppercase;
  justify-self: start;
  font-size: 30px;
  font-weight: 800;
}


.our-partners{
  display: grid;
  justify-items: center;
  padding: 95px 45px 75px;
}
.our-partners-shell{
  max-width: 1280px;

  width: 100%;
}
.our-partners-map{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  justify-items: center;
  width: 100%;
}
.our-partners-map img{
  max-width: 100%;
  width: 100%;
}
.our-partners-title{
  padding-bottom: 70px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
}




.bg-photo-evryday{
  display: grid;
align-items: end;
justify-items: center;
background-image: url(images/garage-image-test.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
color: #333;
text-align: center;
}
.evryday{
  display: grid;
  justify-items: center;
  padding: 40px 45px 55px;
  width: 100%;
  background-color: #ffcc00e5;
}
.evryday-content-text1{
  padding-top: 60px;
}
.evryday-content-text2{
  padding-top: 35px;

}
.evryday-content{
  display: grid;
  align-items: center;
}
.evryday-content-shell{
  display: grid;
  max-width: 1280px;
  width: 100%;
  text-align: left;
  justify-items: start;
  font-size: 20px;
}
.evryday-content-title{
  font-size: 30px; 
  font-weight: 800;
  max-width: 570px;
  text-transform: uppercase;
}
.evryday-content-btns a svg{
  height: 40px;
  fill: white;
}
.evryday-content-btns .viber{
  background-color: #7b24b9;
}
.evryday-content-btns{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  padding-top: 105px;

}
.evryday-content-btns .telegram{
  background-color: #4d84bd;
}
.evryday-content{
  max-width: 630px;
}
.evryday-content-btns a {
  width: 250px;
  height: 60px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
  font-family: 'Geometria,AdobeInvisFont,MyriadPro-Regular';
  color: white;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1.2px;
}
.evryday-shell{
  display: grid;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: auto 1fr;
}

.footer-contacts a{
  font-size: 20px;
  font-weight: 800;
}
.footer-contacts i{
  transform: translate(-5px, 4px);
  font-size: 28px;
}
.footer-social li a svg{
  height: 24px;
  border-radius: 5px;
  fill: #333333;
}
.footer-contacts a:hover svg, .footer-contacts a:hover{
  fill: #33333380;
  color: #33333380;
}
.footer-social li {
  padding-left: 20px;
}
footer{
  display: grid;
  padding: 25px 45px 30px;
  justify-items: center;
  background-color: #ffcc00;
}
.footer-shell{
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-meta-container{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 40px;
  justify-items: start;
  font-size: 18px;
}
.footer-meta-info{
  display: grid;
  row-gap: 20px;
}
.footer-contacts{
  justify-self: end;
  text-align: right;
  align-self: center;
}
.footer-contacts a{
  color: #333333;

}
.footer-social{
  padding-top:20px;
  display: flex;
  flex-wrap: wrap;
}



.contacts-container-map{

}
.contacts_title{
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 70px;
}
.contacts{
   padding: 105px 45px 180px;
   display: grid;
   justify-items: center;
   
}
.contacts-shell{
   max-width: 1280px;
   width: 100%;
}
.contacts-container{
   display: grid;
   max-width: 1280px;
   grid-template-columns:50% 1fr;
   column-gap: 175px;
   height: 580px;

}
.contacts-container-form{
  display: grid;
  grid-template-rows: auto 1fr;
}

.contacts-container-form-row-btn{
   display: grid;
   width: 100%;
   padding-top: 40px;
   justify-items: left;
}
.contacts-container-form-row-btn button{
  color: white;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 800;
  font-size: 20px;
  height: 60px;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  width: 270px;

}
.contacts-container-form-row-btn button:hover{
   background-color: #333333;
   border-color: #333333;
   color: #ffcc00;
}
.contacts-container-form form{
}
.contacts-container-form-row{
   display: grid;
   max-width: 100%;
   column-gap: 35px;
   row-gap: 20px;
   grid-template-columns: auto auto;
}
.contacts-container-form-row input{
   padding: 12px 20px;
   color: #333333;
   font-size: 22px;
   border-radius: 0;
   width: 100%;
   border: 2px solid #ededed;
}
.contacts-container-form-row-textarea{
   display: grid;
   padding-top: 40px;
   width: 100%;
}

.contacts-container-form-row-textarea textarea{
   width: 100%;
   border: 2px solid #ebebeb;
   height: 180px;
   padding: 12px 20px;

  resize: none;
  color: #333333;
   font-size: 22px;
}
.contacts-social{
          display: flex;
          flex-wrap: wrap;

          
      }
   
      .contacts-social li a {
          font-size: 32px;
          color: #ffcc00;
          padding-right: 30px;
          display: flex;
          align-items: center;
      }
      
      .contacts-social li a svg{
          font-size: 32px;
          fill: #ffcc00;
          transition: .5s;
          border-radius: 5px;
          height: 32px;
   
      }
      .contacts-social li a:hover svg{
          font-size: 32px;
          fill: #333333;
          height: 32px;
   
      }
      .contacts-container-form-social{
          transform: translate(0,-2px);
      }



      .contacts-container-form{
  grid-template-rows: none;
}



.calculator {
  padding: 0 45px 100px;
  align-items: stretch;
  display: grid;
  justify-items: center;
}
.calculator .container {
  display: grid;
grid-template-columns: 1fr 1fr;
max-width: 1280px;
  background: #ebebeb;

}
@media (max-width: 768px) {
  .calculator .container {
    justify-content: center;
    width: calc(100% - 30px);
  }
}
.calculator-title {
    justify-self: center;
  display: block;
  font-size: 30px;
  font-weight: 800;
  max-width: 1280px;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 70px;
  line-height: 1;
  position: relative;
}

@media (max-width: 992px) {
  .calculator-title:before {
    display: none;
  }
}
@media (max-width: 992px) {
  .calculator-title:before {
    display: none;
  }
}
.calculator-title span {
  display: inline-block;
  text-align: center;
  background: #fff;
  position: relative;
}
@media (max-width: 992px) {
  .calculator-title span {
    font-size: 32px;
    padding: 0;
    min-width: 0px;
    max-width: 100%;
  }
}
.calculator-form, .calculator-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 60px 35px 50px;
  position: relative;
}
@media (max-width: 768px) {
  .calculator-form, .calculator-result {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
  }
}
.calculator-form {
}
.calculator-form:after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: -2px;
  width: 3px;
  height: calc(100% - 40px);
  background-color: #2e343b;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .calculator-form:after {
    display: none;
  }
}
@media (max-width: 992px) {
  .calculator-form {
    padding-right: 40px;
  }
}
.calculator-form__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.calculator-form__row .icon {
  width: 22px;
  padding-right: 30px;

}
.calculator-form__row .icon img {
  filter: brightness(0);
}
.calculator-form__row .name {
  width: 160px;
  font-size: 20px;
  line-height: 1;
  color: #2e343b;
}
.calculator-form__row .name__electro {
  display: none;
}
.calculator-form__row.electro .name {
  display: none;
}
.calculator-form__row.electro .name__electro {
  display: block;
}
.calculator-form__row .input {
  width: calc(100% - 200px);
}
.calculator-form__row .input input {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #2e343b;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2e343b;
  background: transparent;
}
.calculator-form__row .input input:placeholder {
  color: #2e343b;
}
.calculator-form__row .input select {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #2e343b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2e343b;
  text-align: center;
  text-align-last: center;
  background: transparent;
  text-align-last: center;
}
.calculator-form__row--cost .name {
  width: calc(100% - 32px);
}
.calculator-form__row--cost .input {
  width: 100%;
  margin-top: 15px;
}
.calculator-form__row--type {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.calculator-form__row--type .type-item {
  display: flex;
  width: calc(25% - 10px);
  cursor: pointer;
}
.calculator-form__row--type .type-item__circle {
  width: 20px;
  height: 20px;
  border: 1px solid #2e343b;
  position: relative;
  border-radius: 50%;
  margin-right: 5px;
}
.calculator-form__row--type .type-item__circle:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  background: #2e343b;
  top: 2px;
  left: 2px;
  transition: 0.2s;
  opacity: 0;
}
.calculator-form__row--type .type-item__name {
  font-size: 20px;
  line-height: 1;
  color: #2e343b;
}
.calculator-form__row--type .type-item.active .type-item__circle:before {
  opacity: 1;
}
@media (max-width: 1230px) {
  .calculator-form__row--type .type-item {
    width: calc(50% - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 1100px) {
  .calculator-form__row--type .type-item {
    width: calc(25% - 10px);
  }
}
.calculator-form__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calculator-form__button p {
  width: 100%;
  margin: 0 0 50px;
  font-size: 15px;
  text-align: center;
  color: #2e343b;
}
.calculator-form__button .order-btn {
  width: 100%;
  max-width: 310px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: grid;
  background: #ffcc00;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  color: white;
  padding: 10px 30px;
}
.calculator-form__button .order-btn:hover {
    color: #ffcc00;
    background-color: #333;
}

.calculator-result__title {
  font-size: 24px;
  color: #2e343b;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 40px;
}
.calculator-result__row {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #2e343b;
  margin-bottom: 35px;
}
.calculator-result__row .row-name {
  width: calc(100% - 100px);
}
.calculator-result__row .row-num {
  width: 70px;
}
.calculator-result__row .row-num:after {
  content: "$";
}
.calculator-result__row#calculator-total {
  font-weight: 800;
  font-size: 24px;
}
.calculator-result__button {
  display: flex;
  justify-content: center;
}
.calculator-result__button .order-btn {
  width: 100%;
  max-width: 310px;
  justify-content: center;
width: 100%;
color: white;
display: grid;
justify-items: center;
align-items: center;
height: 60px;
  background: #ffcc00;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
}
.calculator-result__button .order-btn:hover{
    background-color: #333333;
    color: #ffcc00;
}






.blog-add-title{
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 65px;
}
.blog-add-text{
  font-size: 20px;
  text-align: center;
}
.blog-text{

  font-size: 20px;
  line-height: 30px;
}
.blog-title{
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 65px;
}
.blog-add{
  width: 250px;
}
.blog-add::before{
  content: "";
  transform: translate(-33px,0);
  background-color: #EBEBEB;
  position:absolute;
  width: 3px;
  height: 350px;
}
.blog-shit {
  padding: 350px 45px 190px;
  display: grid;
  justify-items: center;
}
.blog-shit-shell{
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 90px;
}
.evryday-content-btns.blog-add-btns{
  grid-template-columns: 1fr;
  row-gap: 20px;
  justify-items: center;
}
.evryday-content-btns.blog-add-btns a{
  max-width: 220px;
  width: 100%;
}



/* partners */
.partners {
  padding: 100px 45px 60px;
  display: grid;
  max-width: 100%;
  justify-items: center;
}
.partners .container {
  width: 100%;
  max-width: 1280px;
}
.partners-title {
  display: block;
  font-size: 44px;
  width: 100%;
  max-width: 1280px;
  text-align: left;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
  line-height: 1;
  position: relative;
}
.partner-item{
  max-width: 100%;
}
@media (max-width: 992px) {
  .partners-title:before {
    display: none;
 }
}

/* @media (max-width: 992px) {
  .partners-title span {
    font-size: 32px;
    padding: 0;
    min-width: 0px;
    max-width: 100%;
 }
} */
.partners .partner-item {
  padding: 0 10px;
}
.partners .partner-item__container {
  padding: 0px;
}
@media (max-width: 768px) {
  .partners .partner-item {
    padding: 10px;
 }
  .partners .partner-item__container {
    padding: 10px;
 }
}

.partner-item__container img{
  width:100%;
}
.partners-shell{
  display: grid;
  justify-items: center;
  max-width: 1280px;
  width: 100%;
}
/* .partner-item.slick-slide{
  display: grid;
  height: 100%;
  align-items: center;
} */

@media (max-width: 1350px) {
  .partners .container {
    width: 100%;
    max-width: 1000px;
  }
}

@media (max-width: 1150px) {
  .partners .container {
    width: 100%;
    max-width: 900px;
  }
}

@media (max-width: 1000px) {
  .partners .container {
    width: 100%;
    max-width: 700px;
  }
}


@import url("//fonts.googleapis.com/css?family=Roboto");

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.block-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}

.block-wrap > div {
	width: 100%;
	text-align: center;
}

.btn-google, .btn-fb {
	display: inline-block;
	border-radius: 8px;
	text-decoration: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	transition: background-color .218s, border-color .218s ,box-shadow .218s;
}

.btn-google .google-content, .btn-google .fb-content, .btn-fb .google-content, .btn-fb .fb-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 45px;
}

.btn-google .google-content .logo, .btn-google .fb-content .logo, .btn-fb .google-content .logo, .btn-fb .fb-content .logo {
  padding: 0 15px;
  display: grid;
  align-items: center;
	height: inherit;
}

.btn-google .google-content svg, .btn-google .fb-content svg, .btn-fb .google-content svg, .btn-fb .fb-content svg {
	width: 32px;
	height: 32px;
}

.btn-google .google-content p, .btn-google .fb-content p, .btn-fb .google-content p, .btn-fb .fb-content p {
	width: 100%;
	line-height: 1;
	letter-spacing: .21px;
	text-align: center;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

.btn-google {
	background: #FFF;
}

.btn-google:hover {
	box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.btn-google:active {
	background-color: #eee;
}

.btn-google .google-content p {
	color: #757575;
}

.btn-fb {
	padding-top: 1.5px;
	background: #4267b2;
	background-color: #3b5998;
}

.btn-fb:hover {
	box-shadow: 0 0 3px 3px rgba(59, 89, 152, 0.3);
}

.btn-fb .fb-content p {
	color: rgba(255, 255, 255, 0.87);
}

.contacts-section-info{
  display: grid;
  justify-items: center;
}
.contacts-section-info-shell{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts-container-map iframe{
  width: 100%;
  height: 580px;
}


.success {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.success__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}
.success__body {
  width: calc(100% - 60px);
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 15px;
  background: #fff;
  z-index: 2;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}
.success__close {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.success__close svg {
  width: 20px;
  height: auto;
  fill: #000;
}
.success__title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}
.success__subtitle {
  display: block;
  text-align: center;
  font-size: 24px;
}
@media (max-width: 768px) {
  .success__body {
    top: 50%;
 }
  .success__title {
    font-size: 28px;
 }
  .success__subtitle {
    font-size: 20px;
 }
}
@media (max-width: 550px) {
  .success__title {
    font-size: 18px;
 }
}



     
.mobile-navbar-list{
  display: grid;
  right: 0;
  position: absolute;
}
.mobile-navbar-list li a{
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.mobile-navbar-list li{
  background-color: #333333;
  padding: 18px 38px 19px 0;
  text-align: right;
  width: 230px;
  border-top: 1px solid #637280;
}
#header-mobile{
  display: none;
  position: relative;
}
.mob-header{
display: grid;
justify-items: center;
padding-top: 16px;
background-color: white;
}
.mob-header *{
z-index: 100;
}
.mob-header-shell{
padding: 0 38px 0 28px;
height: 50px;
background-color: #2D343A;
display: grid;
width: 100%;
align-items: center;
grid-template-columns: 1fr 1fr;
}
.mobile-control{
  justify-self: end;
}
.mobile-logo img{
  width: 69px;

}
.mobile-logo a{
  transform: translate(0,-33px);
  position: absolute;
}
.mobile-control button svg{
  width: 25px;
  fill: #ffcc00;
}
.mobile-control button{
  background: none;
  border: none;
}
.mobile-menu-none{
  display: none;
}
@media (max-width: 1100px) {
#header-mobile{
display: block;
}
}
@media (max-width: 1200px) {
.form-social-control-container-shell {

column-gap: 30px;
}
}


.mob-start-content-shell{
  max-height: 300px;
height: 100vh;
width: 100%;
display: grid;
align-items: end;
justify-items: center;
background-image: url(images/bg.png);
background-color: #ccc;
background-position: center;
background-repeat: no-repeat;
padding: 0 38px 15px;
background-size: cover;
position: relative;
color: #fff;
text-align: center;}
.mob-start-content{
display: grid;
row-gap: 10px;
justify-self: start;
text-align: left;
max-width: 300px;
}
.mob-start-content-title{
font-weight: bold;
font-size: 24px;
color: #ffcc00;
position: relative;
text-transform: uppercase;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.85);
}
.mob-start-content-title::after{
content: "";
background-color: #ffcc00;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.85);
width: 46px;
height: 2px;
position: absolute;
left: 0;
transform: translate(0, 33px);
}
#start-section-mobile{
display: none;
}
@media (max-width: 1100px) {
#start-section-mobile{
display: block;
}
}
.mob-start-content-meta{
padding: 20px 38px;
display: grid;
row-gap: 20px;
background-color: #ffcc00;
justify-items: center;
}
.mob-start-content-meta a {
max-width: 220px;
width: 100%;
}
.mob-start-content-btn{
height: 44px;
display: grid;
justify-items: center;
align-items: center;
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
}
.mob-start-content-btn.phone{
background-color: #2D343A;
border: 2px solid #2D343A;
color: #ffcc00;
}
.mob-start-content-btn.phone:hover{
background-color: transparent;
border: 2px solid #2D343A;
color: #2D343A;
}


.mob-start-content-btn.phone{
background-color: #2D343A;
border: 1px solid #2D343A;
color: #ffcc00;
}
.mob-start-content-btn.about{
background-color: white;
color: #2D343A;
border: 1px solid #2D343A;
}
.mob-start-content-btn.about:hover{
background-color: #2D343A;
color: white;
}
.mob-start-content-btn i{
font-size: 24px;
padding-right: 16px;
}
.mob-start-content-btn span{
display: grid;
align-items: center;
grid-template-columns: auto auto;
}

.mob-navigation-social{
display: flex;
width: 100%;
max-width:220px;
justify-content: space-between;
}
.mob-navigation-social svg{
width: 30px;
}
.mob-navigation-social a:hover svg{
fill: #2d343a7e;
}


@media (max-width: 1100px){
  .reasons_for_work_form-control input{
      background-color: #EBEBEB;
      font-size: 12px;
      padding: 8px 11px;
  }
  .reasons_for_work_form-control input::placeholder{
      color: #2d343a7a;
  }
  .reasons_for_work_form-control{
      padding: 21px 33px 0;
  }
  .reasons_for_work_form-title{
      width: 100%;
      padding: 16px 10px;
      font-size: 16px;
      color: white;
      font-weight: bold;
      background-color: #5a5a5a;
  }
  .reasons_for_work_form{
    background-color: white;
    border: 1px solid #2D343A;
    padding: 0;
    padding-bottom: 27px;
  }
  .form-social-control-container-shell {
      column-gap: 20px;
      padding: 0px 33px;
  }
  .form-social-control-container-shell a div div.logo svg{
      width: 25px;
      height: 25px;
  }
  .form-social-control-container-shell a p{
      font-size: 14px;
  }
  .reasons_for_work_form-social-btn button {
      font-size: 12px;
      height: auto;
      padding: 9px 16px;
      width: auto;
  }
  .form-social-control-container-or {
      font-size: 12px;
      padding: 10px 0;
      font-weight: normal;
  }
  .reasons_for_work_form-social-btn {
      padding-top: 20px;
  }
}

@media (max-width: 470px){
  .form-social-control-container-shell{
      grid-template-columns: 1fr;
      row-gap: 15px;
      justify-items: center;
  }
  .form-social-control-container-shell a{
      max-width: 200px;
      width: 100%;
  }
}
.cars-posts-imadges{
  display: flex;
  max-width: 1280px;
  flex-wrap: wrap;
  justify-content: center;
}
.cars-posts-imadges img{
  max-width: 75px;
  margin: 5px;
margin-bottom: 30px;

  width: 100%;
}
.cars-posts-imadges div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 955px){
.cars-posts-imadges div{
width: 100%;
}
.cars-posts-imadges img{
max-width: 60px;
}
}
@media (max-width: 1100px){
.cars-posts-title{
font-weight: 700;
font-size: 16px;
padding-bottom: 10px;
}   
.cars-posts{
padding: 15px 45px 20px;
}
}
@media (max-width: 500px){

.cars-posts-imadges img{
max-width: 15%;
}
}


.vigoda-mobile{
  display: none;
}
@media(max-width:1100px){
.vigoda{
  display: none;
}
.vigoda-mobile{
  display: grid;
}
}


.vigoda-mobile{
  padding: 20px 30px 30px;
} 
.vigoda-mobile-shell{
  display: grid;
  justify-items: center;
}
.vigoda-mobile-title{
font-weight: bold;
font-size: 16px;
text-transform: uppercase;
padding-bottom: 10px;
color: #2D343A;
}
.vigoda-mobile-control{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
} 
.vigoda-mobile-control button{
  height: 30px;
  color: #2D343A;
  background: #EBEBEB;
  border: 1px solid #ffcc00;
  font-weight: bold;
  text-transform: uppercase;
   font-size: 8px;
}
.vigoda-mobile-control button.active{
  background-color: #ffcc00;
}
.video-mobile-container iframe{
   width: 100%;
   height: 180px;
}
.video-mobile-container{
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}
.video-mobile-btn-control{
  width: 100%;
  display: grid;
  justify-items: center;
}
.video-mobile-btn-control button{
font-weight: bold;
font-size: 12px;
height: 30px;
max-width: 150px;
text-transform: uppercase;
width: 100%;
background-color: #ffcc00;
border: 1px solid #ffcc00;
}
.video-mobile-btn-control button:hover{
  background-color: #2D343A;
  border-color: #2D343A;
  color: #ffcc00;
}


  
.close_vigoda_form{
  position: absolute;
  left: 100%;
  transform: translate(-50%,-60px);
  border-radius: 50%;
  border: 2px solid #2D343A;
  width: 30px;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 30px;
  font-weight: bold;
  background: #ebebeb;
}

.close_vigoda_form svg{
  height: 16px;
  width: 16px;
}

.close_vigoda_form:hover{
  background-color: #2D343A;
}
.close_vigoda_form:hover svg{
  fill:#ebebeb;
}
.get_catalog_from_vigoda{
  width: 100vw;
  position: fixed;
  top:0;
  padding: 20px 50px;
  left:0;
  z-index: 200;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background: rgba(45, 52, 58, 0.4);
}

@media(max-width: 1100px){
  .close_vigoda_form{
  transform: translate(-50%,-15.5px);
  
}
}
.get_catalog_from_vigoda form{
  margin: 0;
  position: relative;
}
.get_catalog_from_vigoda_none{
  display: none;
}


.calculator-mobile{
  display: none;
}
.calculator-mobile-mob{
  display: none;
}
@media(max-width: 1100px){
.calculator{
  display: none;
}
.calculator-mobile{
  display: grid;
padding: 0 35px 30px;
}
.calculator-mobile-title{
background-color: #5A5A5A;
padding: 10px;
font-weight: bold;
color: white;
font-size: 16px;
width: 100%;
text-transform: uppercase;
text-align: center;
}
.calculator-mobile-shell{
border: 1px solid #2D343A;
padding-bottom: 20px;
}
.calculator-mobile-control{
  padding: 20px 33px;
}
.calculator-form__row--cost .input{
margin:0;
}
.calculator-form__row--cost .input input{
  width: 100%;
  border: 0;
  font-size: 12px;
  padding: 8px;
  margin-top: 2px;
  background: #EBEBEB;
}
.calculator-mobile-control .name{
font-weight: bold;
font-size: 8px;
}
.calculator-form__row--type .type-item {

}
.calculator-form__row--type{
margin-top: 11px;
}
.calculator-form__row--type .type-item__circle{
  width: 8px;
  transform: translate(0,2px);
  height: 8px;
}
.calculator-form__row--type .type-item__circle:before {
  width: 4px;
  height: 4px;
  top: 1px;
  left: 1px;
}
.calculator-form__row--type .type-item__name{
  font-size: 12px;
}
.calculator-form__row--type .type-item{
  width: auto;
}
.calculator_year{
width: 100%;
  border: 0;
  font-size: 12px;
  padding: 8px;
  margin-top: 2px;
  background: #EBEBEB;
}
.calculator-form__row{
  display: grid;
  margin-bottom: 0;
  margin-top: 10px;
  width: 100%;
}
.calculator-form__row--turbo.calculator-form__row .input input{
width: 100%;
  border: 0;
  font-size: 12px;
  padding: 8px;
  margin-top: 2px;
  background: #EBEBEB;
}
.calculator-form__row .input{
  width: auto;
}
.calculator-form__row{
width: 100%;
justify-content: none;
}
.calculator-mobile-mob{
  padding: 0 33px 20px;
  display: block;
}
.calculator-form__row .input input{
  text-align: left;
}
}



.calculator-mobile-result{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100vw;
  padding: 20px 33px;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: 200;
  background-color: rgba(45, 52, 58, 0.4);
}
.calculator-mobile-result-shell{
  background-color: white;
  border: 1px solid #2D343A;
  color: #2D343A;
  display: grid;
  
  width: 100%;
  max-width: 500px;
}
.calculator-mobile-result-title{
  display: grid;
  position: relative;
  color: white;
  text-transform: uppercase;
  padding: 8px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background: #5A5A5A;
  grid-template-columns: 1fr;
}
.calculator-mobile-result-title-close{
  position: absolute;
  right: 0;
  margin: 4px 10px;
}
.calculator-mobile-result-title-close button{
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5px;
}
.calculator-mobile-result-title-close svg{
  width: 13px;
  height: 13px;
  fill: white;
}
.calculator-mobile-result-list-row{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.calculator-mobile-result-list{
  padding: 20px 45px 20px 33px;
  display: grid;
  row-gap: 20px;
}
.calculator-mobile-result-list-row-name{
  font-weight: bold;
  font-size: 10px;
}
.calculator-mobile-result-list-row-final 
.calculator-mobile-result-list-row-name {
  font-size: 12px;
  text-transform: uppercase;
}
.calculator-mobile-result-list-row-cost{
  font-size: 10px;
}
.calculator-mobile-result-control{
  display: grid;
  justify-items: center;
  row-gap: 20px;
  padding-bottom: 30px;
}

.calculator-mobile-result-control-close{
  border: 1px solid #ffcc00;
  background-color: #ffcc00;
  color: #2D343A;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  max-width: 200px;
  height: 30px;
  width: 100%;
}
.calculator-mobile-result-control-open-zaiava{
  border: 1px solid #2D343A;
  background-color: #2D343A;
  color: white;
  font-weight: bold;

  text-transform: uppercase;
  font-size: 12px;
  max-width: 200px;
  width: 100%;
  height: 30px;

}
.calculator-mobile-result-none{
  display: none;
}
.calculator-mobile-result-title-close button:hover{
  background-color: white;


}

.calculator-mobile-result-title-close button:hover svg{
fill: #5A5A5A;   

}


.calculator-form-mobile-btn-text{
  padding-top: 15px;
  text-align: center;
}
.calculator-form-mobile-btn{
  display: grid;
  padding: 0 33px;
  justify-items: center;
}
.calculator-form-mobile-btn button{
  background-color: #ffcc00;
  color: black;
  text-transform: uppercase;
  border: 1px solid #ffcc00;
  height: 30px;
  max-width: 150px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}
.calculator-form-mobile-btn button:hover{
  background-color: #2D343A;
     border-color: #2D343A;
     color: #ffcc00;
}


.form-social-control-container-shell.float-form-social{
  column-gap: 10px;
}
@media(max-width: 1100px){
.imdge-block{
  padding: 20px 35px;
}
.imdge-block-title{
  font-size: 16px;
  text-align: center;
  justify-self:center;
  padding-bottom: 10px;
}
}
@media(max-width: 900px){
.imdge-block-map{
  column-gap: 65px;
  padding: 0;
}
}
@media(max-width: 750px){
.imdge-block-map{
  column-gap: 35px;
}
}
@media(max-width: 500px){
.imdge-block-map{
  column-gap: 15px;
}
}



@media(max-width: 1100px){
  .news-blog{
       padding: 20px 35px;
   }
   .news-blog-title{
       font-size: 16px;
       text-align: center;
       font-weight: bold;
       padding-bottom: 10px;
   }
   .news-blog-block{
      font-size: 12px;
   }
   .news-blog-map {
       column-gap: 20px;
       row-gap: 15px;
   }
   .news-blog-block{
       text-align: justify;
       text-transform: none;
   }
  }
  @media(max-width: 750px){
   .news-blog-map {
      grid-template-columns: 1fr 1fr;
  }
  .news-blog-map-in-blog{
    grid-template-columns: 1fr;
  }
  }


  @media (max-width: 1100px){
    .call-to-us-text-second{
        font-size: 12px;
        font-weight: normal;
    }
    .call-to-us-text-title{
        font-weight: bold;
        font-size: 16px;
    }
    .call-to-us-btn-cont a{
        font-size: 12px;
        width: 132px;
        height: 30px;
    }
    .call-to-us-btn-cont a i{
        font-size: 16px;
        transform: translate(-10px,1px);
    }
    .call-to-us-btn-cont a span{
        transform: translate(8px, 0);
    }
}

     
.partners-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partners-list img{
  max-width: 14%;
}
@media(max-width:1100px){
  .partners{
      padding: 20px 35px 30px;
  }
  .partners-list img{
  width: 33%;
  max-width: 110px;
  }
  .partners-title {
      text-align: center;
      font-size: 16px;
      margin-bottom: 10px;
  }
  #delete-img{
      display: none;
  }
}
@media(max-width:740px){

  .partners-list img{
 margin-top: 10px;
  max-width: 26%;
  }

}



@media (max-width: 1200px){
  .evryday {
      padding: 20px 40px;
  }
.evryday-photo{
  display: none;
  }
  .evryday-shell{
      grid-template-columns: 1fr;
  }
  .evryday-shell > *{
      max-width: 100%;
      width: 100%;
  }
  .evryday-content-title{
      font-weight: bold;
      max-width: 100%;
  }
 
}
@media (max-width: 1100px){

  .evryday {
      padding: 20px 40px;
  }
.evryday-photo{
  display: none;
  }
  .evryday-shell{
      grid-template-columns: 1fr;
  }
  .evryday-shell > *{
      max-width: 100%;
      width: 100%;
  }
  .evryday-content-title{
      font-size: 14px;
      font-weight: bold;
      max-width: 100%;
  }
  .evryday-content-text1{
      font-size: 12px;
      padding-top: 20px;
  }

  .evryday-content-text2{
      font-size: 12px;
      padding-top: 20px;
  }
  .evryday-content-btns{
      padding-top: 20px;
      width: 100%;
      max-width: 600px;
      grid-template-columns: auto auto;
  }
  .evryday-content-btns a{
      font-size: 14px;
      max-width: 300px;
      width: 100%;
      padding: 5px 7px;
      justify-items: center;
      align-items: center;
      display: grid;
      height: 30px;
      cursor: pointer;
  }

  .evryday-content-btns a svg {
      width: 20px;
      height: 20px;
  }
}

  .footer-mobile-social{
      display: none;
  }
  .footer-mobile{
      display: none;
  }
  @media(max-width: 1100px){
  .contacts{
      display: none;
  }
  .footer-shell{
    grid-template-columns: 1fr auto;
  }
  .footer-meta-container{
    font-size: 12px;
  }
  .footer-contacts{
    display: none;
  }
  .footer-mobile{
          display: grid;
          padding: 20px 38px 30px;
  }
  .footer-mobile *{
      border-radius: 0;
  }
  .footer-mobile-form-title{
      font-style: normal;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
  }
  .footer-mobile-form-row{
      display: grid;
      row-gap: 20px;

  }
  .footer-mobile-form-row input{
      padding: 6px 10px;
      border: 1px solid #2D343A;
      font-size: 12px;
  }
  .footer-mobile-form-row-textarea{
      padding: 20px 0;
  }
  .footer-mobile-form-row-textarea textarea{
      height: 130px;
      width: 100%;
      resize: none;
      border: 1px solid #2D343A;

      padding: 6px 10px;

  }
  .footer-mobile-form-row-btn{
      display: grid;
      justify-items: end;
  }
  .footer-mobile-form-row-btn button{
      height: 30px;
      max-width: 150px;
      width: 100%;
      background-color: #2D343A;
      border:1px solid #2D343A; 
      color: #ffcc00;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
  }
  .footer-mobile-form-row-btn button:hover{
      background-color: #ffcc00;
      border:1px solid #2D343A; 
      color: #2D343A;
  }
  .footer-mobile-social{
      display: grid;
      background-color: #ffcc00;
      padding: 15px 50px;
      justify-items: center;
  }
  .footer-mobile-contacts-social{
      display: flex;
      width: 100%;
      justify-content: space-between;
  }
  .footer-mobile-contacts-social li a svg{
      height: 30px;
  }
  }
  @media(max-width: 1100px){
    .blog-shit{
        padding:80px 33px 20px;
    }
    .blog-add{
        display: none;
    }
    .blog-text{
        font-size: 12px;
        line-height: 14px;
    }
    .blog-title{
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        padding-bottom: 20px;
    }
    .blog-shit-shell{
        column-gap: 0;
    }
}
.contacts-section-info-meta{
  padding-left: 75px;

}
.contacts-section-info{
  display: grid;
  justify-items: center;
  padding: 0 45px 50px;

}
.contacts-section-info-meta-row{
  color:#2e343b;
  fill:#2e343b;
  font-size: 18px;
  padding-bottom: 30px;
}
.contacts-section-info-meta-row-text-title{
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-weight: 800;
}
.contacts-section-info-shell{
  max-width: 1280px;
  width: 100%;
}
.contacts-section-info-meta svg{
  height: 25px;
}
.contacts-section-info-meta-row{
  display: grid;
  column-gap: 30px;
  grid-template-columns: auto 1fr;
}

  .contacts-section{
                padding: 345px 45px 80px;
                display: grid;
                justify-items: center;
            }
            .contacts-section-shell{
                max-width: 1280px;
                width: 100%;
                display: grid;
                justify-items: center;
            }
            .contacts-section-title{
                font-size: 30px;
                font-weight: 800;
                width: 100%;
                text-transform: uppercase;
                padding-bottom: 65px;
                text-align: left;
            }
            .contacts-section-map{
                width: 100%;
                height: 580px;
            }
            .from-contacts-section{
                padding-top: 50px;
            }
            .contacts-container-form-row-btn.contacts-container-form-dark button{
                background-color: #2e343b;
                border-color: #2e343b;
                font-size: 18px;
                width: 270px;
                height: 50px;
            }
            .contacts-container-form-row-btn.contacts-container-form-dark button:hover{
                background-color: white;
                color: #2e343b;
            }
            @media(max-width: 1100px){
                .contacts-section{
                    padding: 80px 33px 40px;
                }
                .contacts-section-info-meta{
                    padding: 0;
                }
                .contacts-section-info-shell{
                    grid-template-columns: 1fr;
                    row-gap: 30px;
                }
                .contacts-container-form-row input ,.contacts-container-form-row textarea{
                    font-size: 12px;
                }
                .contacts-container-form-row-textarea textarea{
                    font-size: 12px;
                }
                .contacts-container-form-row-btn.contacts-container-form-dark button{
                    font-size: 14px;
                }
                .contacts-section-info-meta-row-text-title{
                    font-size: 12px;
                }
                .contacts-section-info-meta-row-text-text{
                    font-size: 12px;
                }
                .contacts-section-info-meta-row {
                    align-items: center;
                }
                .contacts-section-info{
                    padding: 0 33px 30px;
                }
                .contacts-section-info-meta-row{
                    padding:10px 33px 10px 10px;
                    background-color: #ffcc00;
                    max-width: 500px;
                    width: 100%;
                    transform: translate(33px,0);
                    
                }
                .contacts-section-info-meta svg{
                    height: 30px;
                }
                .contacts-section-info-meta{
                    row-gap: 20px;
                    display: grid;
                    justify-items: right;
                }
                .contacts-section-info-meta-row-text-title{
                    padding-bottom: 4px;
                }
                .contacts-section-title{
                    padding-bottom: 20px;
                    text-align: center;
                    font-size: 16px;
                }
                }
                
                @media(max-width: 800px){
                  .call-to-us-shell{
                    grid-template-columns: 1fr;
                    text-align: center;
                    row-gap: 20px;
                    justify-items: center;
                  }
                  .call-to-us{
                    padding: 20px 33px;
                  }
                }

                .blog-map-eaxct{
                  display: grid;
                  width: 100%;
                  justify-items: center;
                }
                .blog-map-row{
                  display: grid;
                  width: 100%;
                  grid-template-columns: 140px 1fr;
                  column-gap: 15px;
        
                }
                .blog-map{
                  display: grid;
                  justify-items: center;
                }
                .blog-map-image{
                        position: relative;
                  height: 140px;
                  background: #fc0;
                  overflow: hidden;
                }
                .blog-map-image img{
                  position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translate(-50%,-50%);
                }
                .blog-map-shell{
                  display: grid;
                  padding: 300px 45px 60px;
                  justify-items: center;
                }
                .blog-map-shell{
                  max-width: 1280px;
                  
                }
                .blog-map-main-title{
                  font-size:30px;
                  color: #2e343b;
                  text-transform: uppercase;
                  font-weight: bold;
                  padding-bottom: 30px;
                }
                .blog-map-title{
                  font-size: 24px;
                  color: #2e343b;
                  font-weight: bold;
                }
                .blog-map-content{
                }
                .blog-map-title:hover{
                text-decoration: underline;
                }
                .blog-map-main-text{
                  margin-top: 10px;
        
                  font-size: 18px;
                }
                @media(max-width: 1100px){
                  .blog-map-shell{
                    padding: 60px 33px 20px;
                  }
                  .blog-map-row{
                    grid-template-columns: 80px 1fr;
                  }
                .blog-map-image{
                        position: relative;
                  height: 80px;
                  background: #fc0;
                  overflow: hidden;
                }
                .blog-map-main-text{
                  font-size: 12px;
                }
                .blog-map-title{
                  font-size: 12px;
                  font-weight: bold;
                  text-transform: uppercase;
                }
                .blog-map-shell{
                  width: 100%;
                }
                }